services:
  - type: web
    name: vip-kouame-predictions
    runtime: python
    plan: free
    
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    
    disk:
      name: data
      mountPath: /data
      sizeGB: 1
    
    envVars:
      - key: PORT
        value: 10000
      - key: DATA_DIR
        value: /data
      
